body {
    width: 80%;
    height: 100%;
    background-image: url("../images/whitedice-blackleft.jpg");
    background-size: 100%;

    
}
.grid {
    align-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    text-align: center;



}

.span-col-3 {
    grid-column: span 3 / auto;
    
    
    }
/* .jumbotron {
    max-width: 100%;
    max-height: auto; */
}

.span-row-3 {
    grid-row: span 3 / auto;
}
.dice-canvas {
    background-image: url("../images/white-bckgrnd.jpg");
    height: 400px;
    width: 400px;
}
.players{
    background-image: url("../images/dice_3d_flying.jpg");
    height: 400px;
    width: 200px;
}